<h1>Login</h1>
<% if(messages.error) { %>
    <%= messages.error %>
    <% } %>

<form action="/login" method="post">
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" name="Email" id="Email" required>
    </div>
    <button>login</button>
</form>

<a href="/register">register</a>